form>div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group-addon.span1{
    font-size: 18px;
    color: black;
}

h2>img{
    width:100px;
}

.navbar-brand>img{
    max-width:20px;
    /*margin-top: -4px;*/
}